
<div class='dashboard'>
    <div class="dashboard-nav">
        
        <nav class="dashboard-nav-list">
            <a href="#" class="dashboard-nav-item">
                <i class="fas fa-home"></i>
                Home 
            </a>
            <a href="#" class="dashboard-nav-item active">
                <i class="fas fa-tachometer-alt"></i>
                dashboard
                        
            </a>
            <div class='dashboard-nav-dropdown'>
                <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                    <i class="fas fa-money-check-alt"></i>
                    Inscription 
                </a>
                <div class='dashboard-nav-dropdown-menu'>
                    <a href="#" class="dashboard-nav-dropdown-item">
                        Liste Inscriptions
                    </a>
                    
                </div>
            </div>
            <div class='dashboard-nav-dropdown'>
                <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                    <i class="fas fa-users"></i>
                    Personne 
                </a>
                <div class='dashboard-nav-dropdown-menu'>
                    <a href="#" class="dashboard-nav-dropdown-item">
                        Professeur
                    </a>
                    <a href="#" class="dashboard-nav-dropdown-item">
                        RP
                    </a>
                    <a href="#" class="dashboard-nav-dropdown-item">
                        AC
                    </a>
                    <a href="#" class="dashboard-nav-dropdown-item">
                        Etudiant
                    </a>
                </div>
            </div>
            <div class='dashboard-nav-dropdown'>
                <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                    <i class="fas fa-photo-video"></i>
                    Classe 
                </a>
                <div class='dashboard-nav-dropdown-menu'>
                    <a href="{{ path('app_classe') }}" class="dashboard-nav-dropdown-item">
                        Liste classe
                    </a>                    
                </div>
            </div>
            <div class='dashboard-nav-dropdown'>
                <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                    <i class="fas fa-money-check-alt"></i>
                    Module 
                </a>
                <div class='dashboard-nav-dropdown-menu'>
                    <a href="#" class="dashboard-nav-dropdown-item">
                        Liste Modules
                    </a>                    
                </div>
            </div>
            
            <a href="#" class="dashboard-nav-item">
                <i class="fas fa-user"></i>
                Profile 
            </a>
            <div class="nav-item-divider"></div>
            <a href="{{ path('app_logout') }}" class="dashboard-nav-item">
                <i class="fas fa-sign-out-alt"></i>
                Deconnexion 
            </a>
        </nav>
    </div>
    <div class='dashboard-app'>
        <header class='dashboard-toolbar'>
            <a href="#!" class="menu-toggle">
                <i class="fas fa-bars"></i>
            </a>
        </header>
    
    </div>
</div>
